/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    font-family: 'Yusei Magic', sans-serif;
    font: "Yusei Magic";
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*custom styles*/
.header-section div{
    display:inline-block;

}
.header-section div{
 
    font-size: 40px;
    font-style:'Yusei Magic', sans-serif;
    color:rgb(104, 54, 54);
    font-weight: bold;
}
.header-section .nav-bar{
    margin-left:40%;
    font-size: 20px;
}
.nav-bar a{
    text-decoration: none;
    color:rgb(58, 49, 109);
    margin-left:20px;
}
.left-article,.right-article{
    width:40%;
    display:inline-block;
    margin:2%;
}
.left-article p{
    font-size: 30px;
    color:white;
}
.left-article h2{
    font-size: 40px;
}
header{
    background-color: rgb(59, 128, 70);
    padding:20px;
}
main{
    background-color: rgb(70, 23, 114);
    padding-bottom:40px;
    padding-top:40px;
}
h2{
    color:rgb(61, 130, 187);
    
}
.footer-header{
    background-color: rgb(212, 116, 116);
    height:70px;
    font-size: 30px;
    padding-top:20px;
    color:rgb(58, 49, 109);
    font-weight:bold;
}
img{
    border-radius: 20px;

}